<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/dropdown-menu.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="/static/js/checkoutCard.js" defer></script>
<body>
<div class="container">
        <div class="card text-center">
            <div class="card-header">
                CHECKOUT CARD
            </div>
            <div class="card-body">
                <form id="form">
                    <p>First Name:</p>
                    <input type="text" placeholder="First Name" id="first_name" value="" required autofocus>
                    <p>Last Name:</p>
                    <input type="text" placeholder="Last Name" id="last_name" value="" required>
                    <p>Email:</p>
                    <input type="email" placeholder="Email" id="email" value="" required>
                    <p>Phone Number:</p>
                    <input type="tel" placeholder="Phone Number" id="phone_number" value="" required>
                    <h4>Billing Address</h4>
                    <p>Country:</p>
                    <select th:replace="countries.html :: countries">
                    </select>
                    <p>City</p>
                    <input type="text" placeholder="City" value="" id="city_bill">
                    <p>Address</p>
                    <input type="tel" placeholder="Street, number, ap..." value="" id="address_bill">
                    <p>Zipcode</p>
                    <input type="number" placeholder="Zipcode" value="" id="zipcode_bill">
                    <br/>
                    <input type="checkbox" id="fill_in" required>
                    <label>Bill Address same as Shipping Address ?</label>
                    <br/>
                    <h4>Shipping Address</h4>
                    <p>Country:</p>
                    <select th:replace="countries.html :: countries" name="countries" id="countries_ship" required>
                    </select>
                    <p>City</p>
                    <input type="text" placeholder="City" value="" id="city_ship">
                    <p>Address</p>
                    <input type="tel" placeholder="Street, number, ap..." value="" id="address_ship">
                    <p>Zipcode</p>
                    <input type="number" placeholder="Zipcode" value="" id="zipcode_ship">
                    <br/>
                    <input type="checkbox" id="checkbox" required>
                    <label>I agree with Terms and Conditions</label>
                    <br/>
                    <input type="submit" class="btn btn-primary" value="Go To Payment" id="submit">
                </form>
            </div>
            <div class="card-footer text-muted">
                ALL PERSONAL DATA IS SECURED AND NEVER USED WITHOUT YOUR APPROVAL
            </div>
        </div>

</div>
</body>
</html>