<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">

    <!--    <div class="card">-->
    <!--        <div class="card-body">-->
    <!--            &copy; 2019 Codecool Budapest-->
    <!--        </div>-->
    <!--    </div>-->

    <sectio id="footer">
        <footer class="mt-5 py-5">
            <div class="row container mx-auto pt-5">
                <div class="footer-one col-lg-3 col-md-6 col-12">
                    <img id="logo-imagine-footer" src="/static/img/shop-logo2.jpeg">
                    <p>Best shop for tech devices</p>
                    <p> &copy; 2019 Codecool Budapest</p>
                </div>
                <div class="footer-one col-lg-3 col-md-6 col-12">
                    <h5 class="pb-2">Featured</h5>
                    <ul class="text-uppercase list-unstyled">
                        <li><a href="#">Tablets</a></li>
                        <li><a href="#">Smartphones</a></li>
                        <li><a href="#">Laptops</a></li>
                    </ul>
                </div>
                <div class="footer-one col-lg-3 col-md-6 col-12">
                    <h5 class="pb-2">Contact Us</h5>
                    <div>
                        <h6 class="text-uppercase">Address</h6>
                        <p>
                            <a href="https://www.google.com/maps/uv?pb=!1s0x40b1ffdcc0c770b9%3A0xed0908fac575066b!3m1!7e115!4s%2Fmaps%2Fplace%2Fcodecool%2Bbucharest%2F%4044.4390024%2C26.1125905%2C3a%2C75y%2C312.86h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sNE-kKl62XvzjXGKxZA6iGg*212e0*214m2*213m1*211s0x40b1ffdcc0c770b9%3A0xed0908fac575066b%3Fsa%3DX!5scodecool%20bucharest%20-%20Google%20Search!15sCgIgARICCAI&imagekey=!1e2!2sNE-kKl62XvzjXGKxZA6iGg&hl=en&sa=X&ved=2ahUKEwjQpJ_Kpv_2AhXLh_0HHTojCegQpx96BAg9EAg"
                               target="_blank">Strada Semilunei 4-6, Bucharest</a></p>
                    </div>
                    <div>
                        <h6 class="text-uppercase">Phone</h6>
                        <p>
                            <a href="https://www.google.com/search?q=codecool+bucagrest&sxsrf=APq-WBsJw5GGg2hor1j2Z1RjmLIRtAkppA%3A1649243431752&ei=J3VNYua1LdTc7_UPt52OwA4&ved=0ahUKEwim5ZbHpv_2AhVU7rsIHbeOA-gQ4dUDCA4&uact=5&oq=codecool+bucagrest&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAEyBwghEAoQoAEyBwghEAoQoAE6BwgjELADECc6BwgAEEcQsAM6CwguEIAEEMcBEK8BOgUIABCABDoGCAAQFhAeOgUIIRCgAUoECEEYAEoECEYYAFDzBFirDGDDDmgBcAF4AIAB4QGIAbALkgEFMC44LjGYAQCgAQHIAQnAAQE&sclient=gws-wiz#"
                               target="_blank">+40725 595 263</a></p>
                    </div>
                </div>
                <div class="footer-one col-lg-3 col-md-6 col-12">
                    <h5 class="pb-2">Instagram</h5>
                    <div class="row">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram2.jpg" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram1.jpg" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram8.jpg" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram5.jpg" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram7.jpg" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/instagram/instagram9.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="copyright mt-5">
                <div class="row container mx-auto">
                    <div class="col-lg-3 col-md-6 col-12 text-nowrap">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/payment/payment2.png" alt="">
                        <img class="img-fluid w-25 h-100 m-2" src="/static/img/payment/payment5.jpg" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </sectio>
</div>

</body>
</html>
